{##}
{#{% extends 'index.html' %}#}
{#{% load staticfiles %}#}
{##}
{#{% block contentblock %}#}
{#     <style>#}
{#        section {#}
{#            width: 100%;#}
{#            float: left;#}
{#        }#}
{#        .image-block {#}
{#            float: left;#}
{#            width: 100%;#}
{#            margin-bottom: 100px;#}
{#            margin-left: 10%;#}
{#        }#}
{#        .banner-section {#}
{#            background-image: url("{% static 'blog/images/bg.jpg' %}");#}
{#            height: 70%;#}
{#            width: 100%;#}
{#            left: 0;#}
{#            position: absolute;#}
{#            top: 0;#}
{#            background-position: 0;#}
{#        }#}
{#    </style>#}
{##}
{#        <div class="mdl-layout__tab-panel is-active " id="overview" >#}
{#          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">#}
{##}
{#            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">#}
{#            <div class="mdl-color--white" >#}
{#              <div class="mdl-card__supporting-text  ">#}
{#                <h1 class="text-center" style="padding-top: 10%">We are Team CO-IDE</h1>#}
{#                    <ul class="list-inline text-center">#}
{#                <li>VISIT |</li>#}
{#                <li>SHARE |</li>#}
{#                <li>WIN|</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
{#          </section>#}
{#        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">#}
{##}
{#            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">#}
{#            <div class="mdl-color--white" >#}
{#              <div class="mdl-card__supporting-text  ">#}
{#                  <h3 class="mdl-components__page">About Us</h3>#}
{#                    <p class="mdl-components__page ">Co-ide team provide coding playground for programmers and#}
{#                        non-programmers:</p>#}
{##}
{#                    <p>IDE is plateform which provide coding features for developing the Software, CO-IDE is smart Web#}
{#                        IDE, it is smart because it performs on real#}
{#                        time preview feature.It is specially for those who work as web developer but it is open source#}
{#                        that is free to all either they are professional#}
{#                        programmers or beginners in programming.CO-IDE supports the basic languages such as html,css and#}
{#                        javascript which are must to be learn as a web#}
{#                        developer,because these languages are common in every programming language either python or#}
{#                        php.Spending time over here provide you knowledge#}
{#                        gaining and keep you sharp in Coding ,We update articles on each languages which is beneficial#}
{#                        for beginners who have less knowledge about HTML,#}
{#                        CSS and JAVASCRIPT.Through the articles they can gain the basic knowledge about tags,functions#}
{#                        and styling functions supported by all these#}
{#                        languages.</p>#}
{#                    <p><u>Functioning based on the realtime preview which supports for CSS,HTMl and JAVASCRIPT.</u>#}
{#                        When you login into CO-IDE, just switch over coding ground to start coding, and save your script#}
{#                        into our database, you can embed your code into#}
{#                        another website, you need to copy whole code written in html or css or javascript and paste#}
{#                        there, make your styling of webpage according#}
{#                        to your own written script.#}
{#                        If there is any problem using CO-IDE just give your feedback to us ,Our team solve that problem#}
{#                        anyhow and also you can give your comments over#}
{#                        articles or scipts, through facebook plugin or our comment system.#}
{#                        <br><h4><b>Thank You</b></h4><br>#}
{#                    <h5><b>Team Co-IDE,</b></h5></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        </section>#}
{#         {% endblock %}#}